@import url('https://fonts.googleapis.com/css?family=Paytone+One');

body {
    font-size: 20px;
    background-color: white;
}

h1 {
	color: rgb(117,226,255);
	text-align: center;
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

p {
    font-size: 1em;
    line-height: 1.5em
    padding: 0 1em;
}

h1 {font-family: Paytone One, Arial, sans-serif;}
p {font-family: garamond, serif;
text-align: center;}

#slogan {font-weight: bold;}

.center {display: block;
    margin-left: auto;
    margin-right: auto;}

    header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#wrapper {
    width: 80%;
    margin:0 auto;
}

@media only screen and (max-width: 480px) {
    .two_column {
        float:none; 
        width: auto;
    }

